{% extends "home/base.html" %}

{% block body %}
<h1 class="text-center font-bold mt-8 text-3xl text-blue-900">À propos de Groupe Scolaire Espoir</h1>
<div class="grid place-content-center mt-8 mb-24">
    <div class="border border-2 bg-slate-100 mx-64 ps-12 py-5">
        <div>
            <p class="text-2xl font-bold text-blue-900 capitalize ">Notre mission</p>
            <p class="mt-3 pe-10 text-lg">
                Ce site vise à simplifier la gestion de l’établissement tout en améliorant la communication entre les enseignants, les élèves et l’administration, à travers une plateforme intuitive et efficace.
            </p>
        </div>
        <div class="mt-7 flex justify-between">
            <div>
                <p class="text-2xl font-bold text-blue-900 capitalize ">Nos fonctionnalités</p>
                <ul class="mt-3 ms-5 list-disc list-inside text-lg">
                    <li class="py-1">Gestion des classes et des cours</li>
                    <li class="py-1">Suivi des présences et des notes</li>
                    <li class="py-1">Communication simplifiée</li>
                    <li class="py-1">Rapports et analyses</li>
                </ul>
            </div>
            <div class="pe-20">
                <h3 class="text-2xl font-bold text-blue-800 capitalize mb-6">Notre équipe</h3>
                <div class="flex flex-col items-center space-y-2">
                    <div class="flex space-x-6">
                        <div class="flex flex-col items-center">
                            <div class="w-10 h-10 bg-gray-400 rounded-full"></div>
                            <span class="mt-2 text-sm">Direction</span>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="w-10 h-10 bg-gray-400 rounded-full"></div>
                            <span class="mt-2 text-sm">Enseignants </span>
                        </div>
                    </div>
                    <div class="flex justify-center mt-2">
                        <div class="flex flex-col items-center">
                            <div class="w-10 h-10 bg-gray-400 rounded-full"></div>
                            <span class="mt-2 text-sm">Élèves </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
