{% extends "home/base.html" %}

{% block body %}
<h1 class="text-center font-bold mt-8 text-3xl text-blue-900">À propos de Groupe Scolaire Espoir</h1>
<div class="grid place-content-center mt-8 mb-24">
    <div class="border border-3 bg-gray-50 mx-64 ps-12 py-5 ">
        <div>
            <h3 class=-"font-bold text-blue-900">Notre mission</h3>
            <p class="mt-3 pe-10">
                Ce site vise à simplifier la gestion de l’établissement tout en améliorant la communication entre les enseignants, les élèves et l’administration, à travers une plateforme intuitive et efficace.
            </p>
        </div>
        <div class="mt-7 flex justify-between ">
            <div>
                <h3>Nos fonctionnalités</h3>
                <p class="mt-3">
                    <ul>
                        <li>Gestion des classes et des cours </li>
                        <li>Suivi des presence et des notes</li>
                        <li>Communication simplifiee</li>
                        <li>Rapport et analyses</li>
                    </ul>
                </p>
            </div>
            <div class="pe-20">
                <h3 class="pe-10">Notre equipe</h3>
            </div>
        </div>
    </div>

</div>

{% endblock  %}