<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex justify-between bg-blue-900 text-white py-5 text-xl">
        <div>
            <p class="ms-10 text-2xl font-bold"><a href="/">SchoolManager</a></p>
        </div>
       <ul class="flex items-center">
        <li class="px-5"><a href="/">Accueil</a></li>
        <li class="px-5"><a href="{% url "registration" %}">Inscription</a></li>
        <li class="px-5"><a href="#">Se connecter</a></li>
        <li class="px-5"><a href="{% url "about" %}">À propos</a></li>
        <li class="px-5"><a href="#">Contact</a></li>
        
       </ul>
    </nav>
    {% block body %}{% endblock  %}
    <div class="bg-blue-900 text-white text-center py-2 mt-6">
        <p>@2025 SchoolManager - Tous droit réservés</p>
      </div>
</body>
</html>